body {
    background-color:lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: rgb(88, 29, 29);
    text-decoration: underline;
}

a :active {
    color: rgb(117, 4, 4);
    opacity: 0.3;
}

a :link {
    color: #0d6efd; 
    text-decoration: none; 
    transition: color 0.3s ease;
}

a :visited {
    color: #6f42c1; 
    text-decoration: none;
}